@import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700&display=swap');
@import './color.scss';
*,
*::before,
*::after{
  box-sizing: border-box
}

body{
  margin: 0;
  font-family: 'Tajawal', sans-serif;
  font-size: 14px;
}

img {
  max-width: 100%;
}